@font-face {
  font-family: 'FarAwayGalaxy';
  src: url('/fonts/FarAwayGalaxy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'FarAwayGalaxy', sans-serif;
  margin: 0;
  padding: 0;

  color: #ffffff;
}

